<?php
/**
 *  +--------------------------------------------------------------
 *  | Copyright (c) 2017 DZLZH All rights reserved.
 *  +--------------------------------------------------------------
 *  | Author: DZLZH <dzlzh@null.net>
 *  +--------------------------------------------------------------
 *  | Filename: config.php
 *  +--------------------------------------------------------------
 *  | Last modified: 2017-05-08 16:43
 *  +--------------------------------------------------------------
 *  | Description: 
 *  +--------------------------------------------------------------
 */


$config = array(
    'appId'     => '',
    'appKey'    => '',
    'masterKey' => '',
    'debug'     => false,
);

